specialization/template-tool/topicMod.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng"
                         schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:dita="http://dita.oasis-open.org/architecture/2005/" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>LW DITA Topic Module</moduleTitle>
    <headerComment><![CDATA[
=============================================================
                   HEADER                                    
=============================================================
Darwin Information Typing Architecture (DITA) Version 1.3
OASIS Standard
17 December 2015 
Copyright (c) OASIS Open 2015. All rights reserved. 
Source: http://docs.oasis-open.org/dita/dita/v1.3/os/part0-overview/dita-v1.3-os-part0-overview.html

============================================================
 MODULE:    DITA DITA Topic                                  
 VERSION:   1.3                                              
 DATE:      March 2014                                    
                                                             
=============================================================

=============================================================
                   PUBLIC DOCUMENT TYPE DEFINITION           
                   TYPICAL INVOCATION                        
                                                             
 Refer to this file by the following public identifier or an 
      appropriate system identifier 
PUBLIC "-//OASIS//ELEMENTS DITA Topic//EN"
      Delivered as file "topic.mod"                               

=============================================================
SYSTEM:     Darwin Information Typing Architecture (DITA)    
                                                             
PURPOSE:    Declaring the elements and specialization        
            attributes for the base Topic type               
                                                             
ORIGINAL CREATION DATE:                                      
            March 2001                                       
                                                             
            (C) Copyright OASIS Open 2005, 2009.             
            (C) Copyright IBM Corporation 2001, 2004.        
            All Rights Reserved.                             
                                                             
 UPDATES:                                                    
   2005.11.15 RDA: Corrected the public ID for tblDecl.mod   
   2005.11.15 RDA: Removed old declaration for topicreftypes 
                   entity                                    
   2005.11.15 RDA: Corrected the PURPOSE in this comment     
   2005.11.15 RDA: Corrected Long Names for alt, indextermref
   2006.06.06 RDA: Bug fixes:                                
                   Added xref and fn to fig.cnt              
                   Remove xmlns="" from global-atts          
   2006.06.06 RDA: Moved shared items to commonElements file 
   2006.06.07 RDA: Added abstract> element                  
   2006.06.07 RDA: Make universal attributes universal       
                     (DITA 1.1 proposal #12)                 
   2006.06.14 RDA: Add dir attribute to localization-atts    
   2006.06.20 RDA: defn.cnt now explicitly sets its content  
   2006.07.06 RDA: Moved class attributes in from topicAttr  
   2006.11.30 RDA: Add -dita-use-conref-target to enumerated 
                     attributes                              
   2006.11.30 RDA: Remove #FIXED from DITAArchVersion        
   2007.12.01 EK:  Reformatted DTD modules for DITA 1.2       
   2008.01.28 RDA: Add draft-comment to body.cnt             
   2008.01.28 RDA: Moved <metadata> defn. to metaDecl.mod    
   2008.01.30 RDA: Replace @conref defn. with %conref-atts;  
   2008.02.12 RDA: Add ph to linktext, navtitle, searchtitle 
   2008.02.12 RDA: Modify imbeds to use specific 1.2 version 
   2008.02.12 RDA: Move navtitle to commonElements.mod       
   2008.02.13 RDA: Add bodydiv and sectiondiv                
   2008.02.13 RDA: Create .content and .attributes entities  
   2008.05.06 RDA: Moved sectiondiv to section.cnt; created  
                   example.cnt for use by example element    
=============================================================
]]></headerComment>
    <moduleMetadata>
      <moduleType>topic</moduleType>
      <moduleShortName>topic</moduleShortName>
      <modulePublicIds>
        <dtdEnt>-//OASIS//ENTITIES DITA<var presep=" " name="ditaver"/> Topic//EN</dtdEnt>
        <dtdMod>-//OASIS//ELEMENTS DITA<var presep=" " name="ditaver"/> Topic//EN</dtdMod>
        <xsdMod>urn:oasis:names:tc:dita:xsd:topicMod.xsd<var presep=":" name="ditaver"/></xsdMod>
        <xsdGrp>urn:oasis:names:tc:dita:xsd:topicGrp.xsd<var presep=":" name="ditaver"/></xsdGrp>
        <rncMod>urn:oasis:names:tc:dita:rnc:topicMod.rnc<var presep=":" name="ditaver"/></rncMod>
        <rngMod>urn:oasis:names:tc:dita:rng:topicMod.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
    </moduleMetadata>
  </moduleDesc>
  <div>
    <a:documentation>ARCHITECTURE ATTRIBUTES</a:documentation>
    <define name="arch-atts">
      <optional>
        <attribute name="dita:DITAArchVersion" a:defaultValue="1.3"/>
      </optional>
    </define>
  </div>
  <div>
    <a:documentation>DOMAINS ATTRIBUTE</a:documentation>
    <define name="domains-att">
      <optional>
        <attribute name="domains" a:defaultValue="(topic hi-d) (topic h5m-d)"/>
      </optional>
    </define>
  </div>
  <div>
    <a:documentation>INFO TYPES PATTERNS</a:documentation>
    <define name="topic-info-types">
      <ref name="info-types"/>
    </define>
    <define name="info-types">
      <ref name="topic.element"/>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>

    <define name="body">
      <ref name="body.element"/>
    </define>
    <define name="prolog">
      <ref name="prolog.element"/>
    </define>
    <define name="section">
      <ref name="section.element"/>
    </define>
    <define name="shortdesc">
      <ref name="shortdesc.element"/>
    </define>


  </div>
  <div>
    <a:documentation>COMMON CONTENT MODEL PATTERNS</a:documentation>

    <include href="commonElementsMod.rng">
      <a:documentation>Content elements common to map and topic</a:documentation>
    </include>
    <define name="body.cnt">

      <choice>
        <ref name="basic.block"/>
      </choice>

    </define>
    <define name="section.cnt">

      <optional>
        <ref name="title"/>
      </optional>
      <zeroOrMore>
        <ref name="basic.block"/>
      </zeroOrMore>

    </define>
    <define name="relational-atts">
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="cascade" dita:since="1.3"/>
      </optional>
      <optional>
        <attribute name="format"/>
      </optional>
      <optional>
        <attribute name="scope">
          <choice>
            <value>external</value>
            <value>local</value>
            <value>peer</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="role">
          <choice>
            <value>ancestor</value>
            <value>child</value>
            <value>cousin</value>
            <value>descendant</value>
            <value>external</value>
            <value>friend</value>
            <value>next</value>
            <value>other</value>
            <value>parent</value>
            <value>previous</value>
            <value>sample</value>
            <value>sibling</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="otherrole"/>
      </optional>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE DECLARATIONS</a:documentation>

    <div>
      <a:documentation>LONG NAME: Topic</a:documentation>
      <define name="topic.content">
        <ref name="title"/>
        <optional>
          <ref name="shortdesc"/>
        </optional>
        <optional>
          <ref name="prolog"/>
        </optional>
        <optional>
          <ref name="body"/>
        </optional>
      </define>
      <define name="topic.attributes">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <ref name="conref-atts"/>
        <ref name="localization-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="topic.element">
        <element name="topic" dita:longName="Topic">
          <a:documentation>The &lt;topic> element is the top-level DITA element for a single-subject topic or article. Other top-level DITA elements that are more content-specific are &lt;concept>, &lt;task>, &lt;reference>, and &lt;glossary>. Category: Topic elements</a:documentation>
          <ref name="topic.attlist"/>
          <ref name="topic.content"/>
        </element>
      </define>
      <define name="topic.attlist" combine="interleave">
        <ref name="topic.attributes"/>
        <ref name="arch-atts"/>
        <ref name="domains-att"/>
        <ref name="spec-atts"/>
      </define>
      <define name="idElements" combine="choice">
        <ref name="topic.element"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Short Description</a:documentation>
      <define name="shortdesc.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="data.elements.incl"/>
            <ref name="image"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="shortdesc.attributes">
        <ref name="univ-atts"/>
        <ref name="spec-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="shortdesc.element">
        <element name="shortdesc" dita:longName="Short Description">
          <a:documentation>The short description (&lt;shortdesc>) element occurs between the topic title and the topic body, as the initial paragraph-like content of a topic, or it can be embedded in an abstract element. The short description, which represents the purpose or theme of the topic, is
            also intended to be used as a link preview and for searching. When used within a DITA map, the short description of the &lt;topicref> can be used to override the short description in the topic. Category: Topic elements</a:documentation>
          <ref name="shortdesc.attlist"/>
          <ref name="shortdesc.content"/>
        </element>
      </define>
      <define name="shortdesc.attlist" combine="interleave">
        <ref name="shortdesc.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>LONG NAME: Body</a:documentation>

      <define name="body.content">
        <zeroOrMore><ref name="body.cnt"/></zeroOrMore>
        <zeroOrMore><ref name="section"/></zeroOrMore>
      </define>
      <define name="body.attributes">
        <ref name="univ-atts"/>
        <ref name="spec-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="body.element">
        <element name="body" dita:longName="Body">
          <a:documentation>The &lt;body> element is the container for the main content of a &lt;topic>. Category: Topic elements</a:documentation>
          <ref name="body.attlist"/>
          <ref name="body.content"/>
        </element>
      </define>
      <define name="body.attlist" combine="interleave">
        <ref name="body.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>LONG NAME: Section</a:documentation>

      <define name="section.content">

        <ref name="section.cnt"/>

      </define>
      <define name="section.attributes">
        <optional>
          <attribute name="spectitle"/>
        </optional>
        <ref name="univ-atts"/>
        <ref name="spec-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="section.element">
        <element name="section" dita:longName="Section">
          <a:documentation>The &lt;section> element represents an organizational division in a topic. Sections are used to organize subsets of information that are directly related to the topic. For example, the titles Reference Syntax, Example and Properties might represent section-level discourse
            within a topic about a command-line process—the content in each section relates uniquely to the subject of that topic. Multiple sections within a single topic do not represent a hierarchy, but rather peer divisions of that topic. Sections cannot be nested. A section may have an optional
            title. Category: Topic elements</a:documentation>
          <ref name="section.attlist"/>
          <ref name="section.content"/>
        </element>
      </define>
      <define name="section.attlist" combine="interleave">
        <ref name="section.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>PROLOG (METADATA FOR TOPICS)</a:documentation>
      <div>
        <a:documentation>LONG NAME: Prolog</a:documentation>

        <define name="prolog.content">
          <zeroOrMore>
            <choice>
              <ref name="data.elements.incl"/>
              <ref name="specmeta"/>
            </choice>
          </zeroOrMore>
        </define>
        <define name="prolog.attributes">
          <ref name="univ-atts"/>
          <ref name="spec-atts"/>
        </define>
        <define name="prolog.element">
          <element name="prolog" dita:longName="prolog">
            <a:documentation>The &lt;prolog> element contains information about the topic as an whole (for example, author information or subject category) that is either entered by the author or machine-maintained. Much of the metadata inside the &lt;prolog> will not be displayed with the topic on
              output, but may be used by processes that generate search indexes or customize navigation. Category: Prolog elements</a:documentation>
            <ref name="prolog.attlist"/>
            <ref name="prolog.content"/>
          </element>
        </define>
        <define name="prolog.attlist" combine="interleave">
          <ref name="prolog.attributes"/>
        </define>
      </div>
    </div>
  </div>
  <div>
    <a:documentation>SPECIALIZATION ATTRIBUTES</a:documentation>
    <define name="body.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/body "/>
      </optional>
    </define>
    <define name="prolog.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/prolog "/>
      </optional>
    </define>
    <define name="section.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/section "/>
      </optional>
    </define>
    <define name="topic.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/topic "/>
      </optional>
    </define>
    <define name="shortdesc.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/shortdesc "/>
      </optional>
    </define>
  </div>
</grammar>
